<body>

<div class="img-blockDesk">
    <img class="mainMobile" src="../../../assets/imgF/loop.gif" height="710" width="1220">
</div>   

<nav class="navbar navbar-expand-md">
    <div class="container">
      <a class="navbar-brand deskLogo" href="/"><img src="../../../assets/img/Gostro.png"></a>
      <a class="navbar-brand mobLogo" href="/"><img height="22" width="96" src="../../../assets/img/Gostro.png"></a>
  <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav justify-content-end ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/contact">Kontakt</a>
      </li>
      <li class="nav-item">
        <a SimpleSmoothScroll [showHash]="true" href="#bottomBar"><button class="btn start" style="margin-top: 35px;">Download</button></a>
      </li> 
    </ul>
</div>
</div>
</nav>

<section>      
    <div class="modal fade" id="supportModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" class="supportTitle" id="myModalLabel">Support</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <div class="row">
                    <div class="col-1 offset-1">
                        <a class="whatApp" href="https://wa.me/message/BWNSJ5WMXFEFK1"><i class="fa fa-whatsapp"></i></a>
                    </div>
                    <div class="col-1 offset-3">
                        <h3 class="supportOr">Or</h3>
                    </div>
                    <div class="col-1 offset-3">
                        <a class="emailo"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="header deskHeader">
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1 class="h1M h1D"><span id="first">G</span>OSTR<span id="first">O</span> 2 GO</h1>
            <h2 class="h2M h2D">Jetzt einfach 
                <span id="anim1">Hier bestellen</span>
                <span id="anim2">Zum Mitnehmen</span>
                <span id="anim3">Liefern lassen</span>
                <span id="anim4">Tisch reservieren</span>
            </h2>
            <button class="btn android and2M" style="padding-left: 30px; padding-right: 30px;">
                <i class="fa fa-android" style="font-size: 45px;"></i>
                <div class="android-text">
                    <div class="aText1">Download</div>
                    <div class="aText2">Android App</div>
                </div>
            </button>
            <button class="btn ios ios2M">
                <i class="fa fa-apple" style="font-size: 45px;"></i>
                <div class="android-text">
                    <div class="aText1">Download</div>
                    <div class="aText2">iOS App</div>
                </div>
            </button>
        </div>
    </div>
    </div>
</section>

<section class="header mobHeader">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h1M"><span id="first">G</span>OSTR<span id="first">O</span> 2 GO</h1>
            <h2 class="h2M">Jetzt einfach <br>
                <span id="anim1">Hier bestellen</span>
                <span id="anim2">Zum Mitnehmen</span>
                <span id="anim3">Liefern lassen</span>
                <span id="anim4">Tisch reservieren</span>
            </h2>
            <div class="img-block">
                <img class="mainMobile" src="../../../assets/imgF/loop.gif">
            </div>
            <button class="btn android and2M" style="padding-left: 30px; padding-right: 30px;">
                <i class="fa fa-android" style="font-size: 45px;"></i>
                <div class="android-text">
                    <div class="aText1">Download</div>
                    <div class="aText2">Android App</div>
                </div>
            </button>
            <button class="btn ios ios2M">
                <i class="fa fa-apple" style="font-size: 45px;"></i>
                <div class="android-text">
                    <div class="aText1">Download</div>
                    <div class="aText2">iOS App</div>
                </div>
            </button>
        </div>
    </div>
    </div>
</section>

<section class="body-one">
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6" data-aos="fade-down">
            <h6>kostenlos.<span id="first">schnell</span>.einfach</h6>
            <h3 class="h3M">Unser Service</h3>
            <h4 class="h4M">Flexibel & Schnell</h4>
            <h5 class="h5M">Zum Mitnehmen</h5>
            <p class="pM">Wähle bequem dein Lieblingslokal <br> in der Gostro App, stelle deine <br> Bestellung zusammen und lege <br> die Uhrzeit fest an der Du deine <br> 
            Bestellung abholst und spare <br> somit eine Menge Zeit!</p>
            <a SimpleSmoothScroll [showHash]="true" href="#bottomBar"><button class="btn getStart">Download</button></a>
            <div class="bodyimg-block">
                <img class="body1Mobile1" src="../../../assets/imgF/Order Food To Go_Illustration@2x.png">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 deskPhone1" data-aos="fade-left">
            <div class="iphone1-block">
                <img class="body1Mobile2" style="margin-top: -100px;" src="../../../assets/img/contactPhone3.png">
                <img class="body1Mobile2" style="margin-left: -30px;" src="../../../assets/img/contactPhone4.png">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mobPhone1" data-aos="zoom-in">
            <div class="iphone1-block">
                <img class="body1Mobile2" style="margin-top: -100px;" src="../../../assets/img/contactPhone3.png">
                <img class="body1Mobile2" style="margin-left: -30px;" src="../../../assets/img/contactPhone4.png">
            </div>
        </div>
    </div>
    </div>
</section>
<img class="deskArrow" src="../../../assets/imgF/arrow.png" style="margin-left: 550px;" height="200" width="240">

<section class="body-two">
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 mobiVers" data-aos="fade-up">
            <h4 class="h4MEx1">Kontaklos & Einfach</h4>
            <h5 class="h5M">Hier Bestellen</h5>
            <p class="pM">Per Knopfdruck kannst du jetzt auch <br> am Tisch die komplette Speisekarte <br> einsehen und deine gewünschte <br> Bestellung in Ruhe in Auftrag <br> geben ohne auf 
            den <br> Kellner zu warten.</p>
            <a SimpleSmoothScroll [showHash]="true" href="#bottomBar"><button class="btn getStart">Download</button></a>
            <div class="bodyimg2-block">
                <img class="body2Mobile1" src="../../../assets/imgF/For In The House_Illustration@2x.png">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 deskPhone2" data-aos="fade-right">
            <div class="iphone2-block">
                <img class="body2Mobile2" style="margin-top: -100px;" src="../../../assets/img/contactPhone5.png">
                <img class="body2Mobile2" style="margin-left: -30px;" src="../../../assets/img/contactPhone6.png">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mobPhone2" data-aos="zoom-in">
            <div class="iphone2-block">
                <img class="body2Mobile2" style="margin-top: -100px;" src="../../../assets/img/contactPhone5.png">
                <img class="body2Mobile2" style="margin-left: -30px;" src="../../../assets/img/contactPhone6.png">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 deskVers" data-aos="fade-up">
            <h4 class="h4MEx">Kontaklos & Einfach</h4>
            <h5 class="h5M">Hier Bestellen</h5>
            <p class="pM">Per Knopfdruck kannst du jetzt auch <br> am Tisch die komplette Speisekarte <br> einsehen und deine gewünschte <br> Bestellung in Ruhe in Auftrag <br> geben ohne auf 
            den Kellner zu <br> warten.</p>
            <a SimpleSmoothScroll [showHash]="true" href="#bottomBar"><button class="btn getStart">Download</button></a>
            <div class="bodyimg2-block">
                <img class="body2Mobile1" src="../../../assets/imgF/For In The House_Illustration@2x.png">
            </div>
        </div>
    </div>
    </div>
</section>
<img class="deskArrow" src="../../../assets/imgF/leftArrow.png" style="margin-left: 570px; margin-top: 20px; " height="200" width="240">

<section class="body-three">
    <div class="container">
        <div class="row deskPhone3">
            <div class="col-sm-12 col-md-6" data-aos="fade-right">
                <h4 class="h4MExP">Reserviert & Hingesetzt</h4>
                <h5 class="h5M">Tisch Reservieren</h5>
                <p class="pM">Keine lästigen Wartezeiten mehr, <br> reserviere mit deinen Freunden <br> jetzt einfach über die Gostro <br> App einen Tisch in der <br> gewünschten Zeit 
                in deinem <br> Lieblingsrestaurant</p>
                <a SimpleSmoothScroll [showHash]="true" href="#bottomBar"><button class="btn getStart getStartEx">Download</button></a>
                <div class="bodyimg2-block">
                    <img class="body3Mobile1" src="../../../assets/imgF/Reservation@2x.png">
                </div>
            </div>
            <div class="col-sm-12 col-md-6" data-aos="fade-left">
                <h4 class="h4MEx">Ausgewählt & Geliefert</h4>
                <h5 class="h5M">Liefern Lassen</h5>
                <p class="pM">Du sitzt bequem zuhause und hast <br> Lust auf eine Pizza mit extra viel Käse? <br> Suche ein Restaurant deiner Nähe <br> aus und bestell dir deine 
                Pizza <br> mit extra viel Käse zu dir <br> nach Hause!</p>
                <a SimpleSmoothScroll [showHash]="true" href="#bottomBar"><button class="btn getStart">Download</button></a>
                <div class="bodyimg2-block">
                    <img class="body3Mobile2" src="../../../assets/imgF/Delivery@2x.png">
                </div>
            </div>
        </div>
        <div class="row mobPhone3">
            <div class="col-sm-12 col-md-6" data-aos="fade-down">
                <h4 class="h4MExP">Reserviert & Hingesetzt</h4>
                <h5 class="h5M">Tisch Reservieren</h5>
                <p class="pM">Keine lästigen Wartezeiten mehr, <br> reserviere mit deinen Freunden <br> jetzt einfach über die Gostro <br> App einen Tisch in der <br> gewünschten Zeit 
                <br> in deinem <br> Lieblingsrestaurant</p>
                <a SimpleSmoothScroll [showHash]="true" href="#bottomBar"><button class="btn getStart getStartEx">Download</button></a>
                <div class="bodyimg2-block">
                    <img class="body3Mobile1" src="../../../assets/imgF/Reservation@2x.png">
                </div>
            </div>
            <div class="col-sm-12 col-md-6" data-aos="fade-up">
                <h4 class="h4MEx">Ausgewählt & Geliefert</h4>
                <h5 class="h5M">Liefern Lassen</h5>
                <p class="pM">Du sitzt bequem zuhause und hast <br> Lust auf eine Pizza mit extra viel Käse? <br> Suche ein Restaurant deiner Nähe <br> aus und bestell dir deine 
                Pizza <br> mit extra viel Käse zu dir <br> nach Hause!</p>
                <a SimpleSmoothScroll [showHash]="true" href="#bottomBar"><button class="btn getStart">Download</button></a>
                <div class="bodyimg2-block">
                    <img class="body3Mobile2" src="../../../assets/imgF/Delivery@2x.png">
                </div>
            </div>
        </div>
    </div>
</section>

<img class="deskArrow" src="../../../assets/imgF/botArrow.png" style="margin-left: 560px; margin-top: 10px; " height="200" width="260">

<section class="features-one">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h6 class="h6M" style="text-align: center;">kostenlos.<span id="first">schnell</span>.einfach</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h5 style="text-align: center; margin-top: 10px; line-height: 50px;">So Einfach Ist Gostro</h5>
            </div>
        </div>
        <div class="row deskFlipper1">
            <div class="col-sm-12 col-md-4" data-aos="flip-up">
                <div class="points">
                    <img src="../../../assets/imgF/Search_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Suche Nach <br> Einer Gostronomie</h5>
                    <p style="line-height: 30px;">Du findest zahlreiche Gostronomien <br> in deiner Nähe. Worauf hast du <br> heute Lust?</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-aos="flip-up">
                <div class="points">
                    <img src="../../../assets/imgF/Bowl_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Wähle Deine <br> Speisen Aus</h5>
                    <p style="line-height: 30px;">Stell dir deine Bestellung <br> zusammen in der innotvativ <br> gestalteten Gostro App</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-aos="flip-up">
                <div class="points">
                    <img src="../../../assets/imgF/Card_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Bezahlen Und Liefern</h5>
                    <p style="line-height: 30px;">Bezahle mit Bargeld, Apple Pay, <br> VISA, MasterCard, AMEX oder <br> PayPal und genieße Deine <br> leckeren Speisen.</p>
                </div>
            </div>
        </div>
        <div class="row mobFlipper1">
            <div class="col-sm-12 col-md-4" data-aos="zoom">
                <div class="points">
                    <img src="../../../assets/imgF/Search_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Suche Nach <br> Einer Gostronomie</h5>
                    <p style="line-height: 30px;">Du findest zahlreiche Gostronomien <br> in deiner Nähe. Worauf hast du <br> heute Lust?</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-aos="zoom">
                <div class="points">
                    <img src="../../../assets/imgF/Bowl_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Wähle Deine <br> Speisen Aus</h5>
                    <p style="line-height: 30px;">Stell dir deine Bestellung <br> zusammen in der innotvativ <br> gestalteten Gostro App</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-aos="zoom">
                <div class="points">
                    <img src="../../../assets/imgF/Card_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Bezahlen Und Liefern</h5>
                    <p style="line-height: 30px;">Bezahle mit Bargeld, Apple Pay, <br> VISA, MasterCard, AMEX oder <br> PayPal und genieße Deine <br> leckeren Speisen.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-two">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h5 style="text-align: center; margin-top: 10px; line-height: 50px;">Deine Vorteile Als Gostronom</h5>
            </div>
        </div>
        <div class="row deskFlipper2">
            <div class="col-sm-12 col-md-4" data-aos="flip-up">
                <div class="points">
                    <img src="../../../assets/imgF/Man_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Mehr Glückliche <br> Kunden</h5>
                    <p style="line-height: 30px;">Gewinne mehr Kunden durch die <br> Gostro App, durch das Marketing <br> der App selbst.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-aos="flip-up">
                <div class="points">
                    <img src="../../../assets/imgF/Tag_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Mehr Umsatz Und <br> Besseres Management</h5>
                    <p style="line-height: 30px;">Manage dein Unternehmen besser <br> und effizienter. Spare somit Zeit <br> und generiere deutlich höheren Umsatz.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-aos="flip-up">
                <div class="points">
                    <img src="../../../assets/imgF/Price_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Ausgezeichnete <br> Preis-Leistung</h5>
                    <p style="line-height: 30px;">Du zahlst keine prozentuale <br> Provision. Nur die 99€ im Monat <br> für den Service und die Einpflege Ihres Unternehemes.</p>
                </div>
            </div>
        </div>
        <div class="row mobFlipper2">
            <div class="col-sm-12 col-md-4" data-aos="zoom">
                <div class="points">
                    <img src="../../../assets/imgF/Man_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Mehr Glückliche <br> Kunden</h5>
                    <p style="line-height: 30px;">Gewinne mehr Kunden durch die <br> Gostro App, durch das Marketing <br> der App selbst.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-aos="zoom">
                <div class="points">
                    <img src="../../../assets/imgF/Tag_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Mehr Umsatz Und <br> Besseres Management</h5>
                    <p style="line-height: 30px;">Manage dein Unternehmen besser <br> und effizienter. Spare somit Zeit <br> und generiere deutlich höheren Umsatz.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-aos="zoom">
                <div class="points">
                    <img src="../../../assets/imgF/Price_Ico@2x.png">
                    <h5 style="font-size: 22px; margin-top: 20px;">Ausgezeichnete <br> Preis-Leistung</h5>
                    <p style="line-height: 30px;">Du zahlst keine prozentuale <br> Provision. Nur die 99€ im Monat <br> für den Service und die Einpflege Ihres Unternehemes.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="userBlock">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 style="text-align: center; margin-top: 10px; line-height: 50px;">Was unsere Kunden <br>sagen</h5>
            </div>
            <div class="col-12">
                <h2 style="font-size: 24px; text-align: center; font-weight: 400;">Erfahrungsberichte von Betreibern</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 70px;">
            <div class="userCard mobileUser" style="float:left;" data-aos="zoom-in">
                <img class="centered" src="../../../assets/img/contactUser.png">
                <h4 style="font-weight: 500; font-size: 24px; color: black; text-align: center; margin-top: 25px;">Full name</h4>
                <h3 style="font-weight: 400; font-size: 18px; text-align: center; line-height: 32px; color: #5C5C5C;">The most comprehensive <br>NLP-driven company search engine</h3>
            </div>
            <div class="userCard userCardFinal mobileUser" style="float: left;" data-aos="zoom-in">
                <img class="centered" src="../../../assets/img/contactUser.png">
                <h4 style="font-weight: 500; font-size: 24px; color: black; text-align: center; margin-top: 25px;">Full name</h4>
                <h3 style="font-weight: 400; font-size: 18px; text-align: center; line-height: 32px; color: #5C5C5C;">The most comprehensive <br>NLP-driven company search engine</h3>
            </div>
            <div class="userCard userCardFinal mobileUser" data-aos="zoom-in">
                <img class="centered" src="../../../assets/img/contactUser.png">
                <h4 style="font-weight: 500; font-size: 24px; color: black; text-align: center; margin-top: 25px;">Full name</h4>
                <h3 style="font-weight: 400; font-size: 18px; text-align: center; line-height: 32px; color: #5C5C5C;">The most comprehensive <br>NLP-driven company search engine</h3>
            </div>
        </div>
    </div>
</section>

<section class="download downDesk">
    <div class="container">
        <div class="row">
            <div><img class="imgDM" src="../../../assets/imgF/BG@2x.png"></div>
            <div class="col-sm-12 col-md-6" style="margin-top: -380px;">
                <h5 class="h5DM">Download</h5>
                <h3 class="h3DM">Unsere Smartphone App</h3>
                <p class="pDM">Die innovative Gostro App jetzt für 2 GO. Immer dabei. Immer frei.</p>
            <button class="btn android and2M" style="padding-left: 30px; padding-right: 30px;">
                <i class="fa fa-android" style="font-size: 45px;"></i>
                <div class="android-text">
                    <div class="aText1">Download</div>
                    <div class="aText2">Android App</div>
                </div>
            </button>
            <button class="btn ios ios2M">
                <i class="fa fa-apple" style="font-size: 45px;"></i>
                <div class="android-text">
                    <div class="aText1">Download</div>
                    <div class="aText2">iOS App</div>
                </div>
            </button>
            </div>
            <div class="col-sm-12 col-md-6" data-aos="fade-left" style="margin-top: -440px;">
                <div class="iphone3-block">
                    <img class="imgDM2" style="margin-top: -100px;" src="../../../assets/img/contactPhone7.png">
                    <img class="imgDM2" style="margin-left: -30px;" src="../../../assets/img/contactPhone8.png">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="download downMob">
    <div class="container">
        <div class="row">
            <div><img class="imgDM" src="../../../assets/imgF/BG@2x.png"></div>
            <div class="col-12" style="margin-top: -610px;">
                <h5 class="h5DM">Download</h5>
                <h3 class="h3DM" style="line-height: 40px;">Unsere <br> Smartphone App</h3>
                <p class="pDM">Die innovative Gostro App jetzt für 2 GO. Immer dabei. Immer frei.</p>
            </div>
            <div style="margin-top: -30px;">
            <button class="btn android and2MD" style="padding-left: 30px; padding-right: 30px;">
                <i class="fa fa-android" style="font-size: 45px;"></i>
                <div class="android-text">
                    <div class="aText1">Download</div>
                    <div class="aText2">Android App</div>
                </div>
            </button>
            <button class="btn ios ios2MD">
                <i class="fa fa-apple" style="font-size: 45px;"></i>
                <div class="android-text">
                    <div class="aText1">Download</div>
                    <div class="aText2">iOS App</div>
                </div>
            </button>
            </div>
            <div class="col-12" data-aos="zoom-in" style="margin-top: 50px;">
                <div class="iphone3-block">
                    <img class="imgDM2" style="margin-top: -100px;" src="../../../assets/img/contactPhone7.png">
                    <img class="imgDM2" style="margin-left: -30px;" src="../../../assets/img/contactPhone8.png">
                </div>
             </div>
        </div>
    </div>
</section>

<section id="bottomBar" class="footer" data-aos="zoom-in" style="margin-top: 180px;">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-3" style="margin-top: -35px;">
                <h2 class="h2FM">Dienstleistungen</h2>
                <p style="line-height: 25px;" class="pFM">Bestellen Sie Essen zum Mitnehme</p>
                <p style="line-height: 25px;" class="pFM">Bestellen Sie Essen für im Haus</p>
                <p style="line-height: 25px;" class="pFM">Lebensmittellieferservice</p>
                <p style="line-height: 25px;" class="pFM">Tisch reservieren</p>
                <div class="social-media">
                    <i class="fa fa-facebook iconM"></i>
                    <i class="fa fa-linkedin iconM"></i>
                    <a style="color: black;" href="https://www.instagram.com/gastro2go/"><i class="fa fa-instagram iconM"></i></a>
                </div>
                <button class="btn android and2FM">
                    <i class="fa fa-android aTextO"></i>
                    <div class="android-text andText">
                        <div class="aText1 aExt1">Download</div>
                        <div class="aText2 aExt2">Android App</div>
                    </div>
                </button>
            </div>
            <div class="col-3 col-md-3" style="margin-top: -35px;">
                <h2 class="h2FM">Über</h2>
                    <a style="text-decoration: none; color: black;" href="/privacy"><p style="line-height: 25px;" class="pFM">Datenschutz-Bestimmungen</p></a>
                    <a style="text-decoration: none; color: black;" href="/contact"><p style="line-height: 25px; margin-top: 55px;" class="pFM">Kontaktiere uns</p></a>
                    <h2 class="h2FMEx" style="margin-top: 137px;">ENG (US)</h2>
                    <button class="btn ios2 ios2FM">
                        <i class="fa fa-apple iTextO"></i>
                        <div class="android-text andText">
                            <div class="aText1 aExt1">Download</div>
                            <div class="aText2 aExt2">iOS App</div>
                        </div>
                    </button>            
            </div>
            <div class="col-6 col-md-6">
                <div class="iphone4-block">
                    <img class="imgFM" src="../../../assets/imgF/Footer Img@2x.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="supporter">
    <button data-toggle="modal" data-target="#supportModal" type="button" class="btn support"><i class="fa fa-question-circle" style="font-size: 20px;"></i> Support</button>
</section>

<footer>
    <div class="container">
       <span style="margin-right: 10px;">&copy;</span> <img src="../../../assets/img/GostroMob.png">  <span style="margin-left: 10px;">All Rights Reserved.</span> 
    </div>
</footer>
<hr style="margin-top: 50px;">

</body>


