<ngx-ui-loader></ngx-ui-loader>
<body>

<nav class="navbar navbar-expand-md">
    <div class="container">
      <a class="navbar-brand deskLogo" href="/"><img src="../../../assets/img/Gostro.png"></a>
      <a class="navbar-brand mobLogo" href="/"><img height="22" width="96" src="../../../assets/img/Gostro.png"></a>
  <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav justify-content-end ml-auto">
        <li class="nav-item">
            <a SimpleSmoothScroll [showHash]="true" href="#bottomBar"><button class="btn start" style="margin-top: 35px;">Download</button></a>
        </li> 
    </ul>
</div>
</div>
</nav>

<section>      
    <div class="modal fade" id="supportModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" class="supportTitle" id="myModalLabel">Support</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <div class="row">
                    <div class="col-1 offset-1">
                        <a class="whatApp" href="https://wa.me/message/BWNSJ5WMXFEFK1"><i class="fa fa-whatsapp"></i></a>
                    </div>
                    <div class="col-1 offset-3">
                        <h3 class="supportOr">Or</h3>
                    </div>
                    <div class="col-1 offset-3">
                        <a class="emailo"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="titleBlock">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>So einfach geht´s!</h1>
            </div>
            <div class="col-12">
                <h2>in drei Schritten</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-4 col-12" style="margin-top: -7px;" data-aos="fade">
                <img class="centered" src="../../../assets/img/contactCircle1.png">
                <img class="centeredIcon" src="../../../assets/img/contactIcon1.png">
                <div class="col-10 offset-1">
                    <h3 style="margin-top: 70px;">Innerhalb wenigen Minuten registrieren und die Speisekarte konfigurieren</h3>
                </div>
            </div>
            <div class="col-md-4 col-12 mobileCircle" data-aos="fade">
                <img class="centered" src="../../../assets/img/contactCircle2.png">
                <img class="centeredIcon" src="../../../assets/img/contactIcon2.png">
                <div class="col-10 offset-1">
                    <h3 style="margin-top: 70px;">Wir fügen Dich zur Plattform hinzu und Du wirst sichtbar</h3>
                </div>
            </div>
            <div class="col-md-4 col-12 mobileCircle" data-aos="fade">
                <img class="centered" src="../../../assets/img/contactCircle3.png">
                <img class="centeredIcon" src="../../../assets/img/contactIcon3.png">
                <div class="col-10 offset-1">
                    <h3 style="margin-top: 70px;">Lasse Deine Kunden wissen, dass sie über Gostro bei dir bestellen können</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div align="center" class="col-12">
                <a SimpleSmoothScroll [showHash]="true" href="#contactForm"><button class="btn contactButton">Kontaktiere uns!</button></a>
            </div>
        </div>
    </div>
</section>

<section class="workBlock">
    <div class="container">
        <div class="row">
            <div class="col-md-2 deskVer" style="margin-top: 85px;" data-aos="fade-right">
                <img src="../../../assets/img/contactPhone1.png">
            </div>
            <div class="col-md-2 deskVer" style="margin-top: 135px; margin-left: -30px;" data-aos="fade-right">
                <img src="../../../assets/img/contactPhone2.png">
            </div>
            <div class="col-md-5 offset-md-3 col-12" data-aos="fade-up">
                <h1 style="text-align: left;">Deine Angebote</h1>
                <h2 style="text-align: left;">Wir decken alle Funktionen ab</h2>
                <div class="row">
                    <div class="col-4" style="margin-left: 10px; margin-top: 20px;">
                        <img src="../../../assets/img/contactWork1.png">
                        <img class="workIcon" src="../../../assets/img/contactIcon4.png">
                    </div>
                    <div class="col-6" style="margin-top: 50px;">
                        <h3 style="text-align: left;">Liefern</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-top: 10px;">
                        <img src="../../../assets/img/contactWork2.png">
                        <img class="workIcon2" src="../../../assets/img/contactIcon5.png">
                    </div>
                    <div class="col-6" style="margin-top: 50px;">
                        <h3 style="text-align: left;">&nbsp;&nbsp;im Lokal essen</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-left: 10px; margin-top: 10px;">
                        <img src="../../../assets/img/contactWork3.png">
                        <img class="workIcon3" src="../../../assets/img/contactIcon6.png">
                    </div>
                    <div class="col-6" style="margin-top: 50px;">
                        <h3 style="text-align: left;">To Go</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-left: 10px; margin-top: 10px;">
                        <img src="../../../assets/img/contactWork4.png">
                        <img class="workIcon4" src="../../../assets/img/contactIcon7.png">
                    </div>
                    <div class="col-6" style="margin-top: 50px;">
                        <h3 style="text-align: left;">Tischreservierung</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="planBlock" style="background-color:#FAFBFF;">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top: 80px;">
                <h1>Wähle dein Paket</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="planCard1" data-aos="zoom-in">
                <h4 style="color: #2F74FF;">App Zugang</h4>
                <h2 style="font-weight: 600; margin-top: 30px; text-align: left;">Nur 99€ im Monat</h2>
                <p style="margin-top: -10px;">*monatlich kündbar und ohne Provisionen</p>
                <h5 style="margin-top: 25px;"><img src="../../../assets/img/contactArrow1.png">&nbsp;&nbsp;&nbsp; Kostenfrei nutzbar</h5>
                <h5><img src="../../../assets/img/contactArrow1.png">&nbsp;&nbsp;&nbsp; Listung in der App</h5>
                <h5><img src="../../../assets/img/contactArrow1.png">&nbsp;&nbsp;&nbsp; Tisch Reservierung</h5>
                <h5><img src="../../../assets/img/contactArrow1.png">&nbsp;&nbsp;&nbsp; Lieferung</h5>
                <h5><img src="../../../assets/img/contactArrow1.png">&nbsp;&nbsp;&nbsp; Im Haus servieren</h5>
                <h5><img src="../../../assets/img/contactArrow1.png">&nbsp;&nbsp;&nbsp; zum Mitnehmen</h5>
                <h5><img src="../../../assets/img/contactArrow1.png">&nbsp;&nbsp;&nbsp; Kundengewinnung</h5>
                <h5><img src="../../../assets/img/contactArrow1.png">&nbsp;&nbsp;&nbsp; Restaurant App</h5>
                <h5><img src="../../../assets/img/contactArrow1.png">&nbsp;&nbsp;&nbsp; Kunden App</h5>
                <a SimpleSmoothScroll [showHash]="true" href="#contactForm"><button (click)="selectPackage('App Zugang')" style="margin-top: 30px; margin-left: 35px;" class="btn contactButton">Kontaktiere uns!</button></a>
            </div>
            <div class="planCard3" data-aos="zoom-in">
                <h4 style="color: #3DBC80;">Professioneller Zugang</h4>
                <h2 style="font-weight: 600; margin-top: 30px; text-align: left;">Einmalig 259€ und nur Nur 69€ im Monat</h2>
                <p style="margin-top: -10px;">*monatlich kündbar und ohne Provisionen</p>
                <h5 style="margin-top: 25px;"><img src="../../../assets/img/contactArrow3.png">&nbsp;&nbsp;&nbsp; Moderne Webseitenerstellung</h5>
                <h5><img src="../../../assets/img/contactArrow3.png">&nbsp;&nbsp;&nbsp; Speisekarten Erstellung</h5>
                <h5><img src="../../../assets/img/contactArrow3.png">&nbsp;&nbsp;&nbsp; Professionelles auftreten</h5>
                <h5><img src="../../../assets/img/contactArrow3.png">&nbsp;&nbsp;&nbsp; de Domain</h5>
                <h5><img src="../../../assets/img/contactArrow3.png">&nbsp;&nbsp;&nbsp; Inhalte Ihrer Wahl</h5>
                <h5 style="color: #fad728"><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Inklusive Website Zugang</h5>
                <a SimpleSmoothScroll [showHash]="true" href="#contactForm"><button (click)="selectPackage('Professioneller Zugang')" style="margin-top: 110px; margin-left: 45px;" class="btn contactButton">Kontaktiere uns!</button></a>
            </div>
            <div class="planCard2" data-aos="zoom-in">
                <h4 style="color: #FFE662;">Website Zugang</h4>
                <h2 style="font-weight: 600; margin-top: 30px; text-align: left;">Nur 69€ im Monat</h2>
                <p style="margin-top: -10px;">*monatlich kündbar und ohne Provisionen</p>
                <h5 style="margin-top: 25px;"><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Listung in der Website</h5>
                <h5><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Marketing/Kundengewinnung</h5>
                <h5><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Restaurant Übersicht</h5>
                <h5><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Menü Übersicht</h5>
                <h5><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Website Verlinkung</h5>
                <h5><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Restaurant Dashboard</h5>
                <h5><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Gallerie</h5>
                <h5><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Bewertung</h5>
                <h5><img src="../../../assets/img/contactArrow2.png">&nbsp;&nbsp;&nbsp; Tisch Reservierung / Liefern</h5>
                <a SimpleSmoothScroll [showHash]="true" href="#contactForm"><button (click)="selectPackage('Website Zugang')" style="margin-top: 50px; margin-left: 50px;" class="btn contactButton">Kontaktiere uns!</button></a>
            </div>
        </div>
    </div>
</section>

<section class="titleBlock2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Jetzt starten!</h1>
            </div>
            <div class="col-12">
                <h2>Digitalisiere deine Gastronomie</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 60px;" data-aos="fade">
            <div class="col-md-4 col-12" style="margin-top: -7px;">
                <img class="centered" src="../../../assets/img/contactCircle1.png">
                <img class="centeredIcon" src="../../../assets/img/contactIcon8.png">
                <div class="col-10 offset-1">
                    <h3 style="margin-top: 70px;">Schnelle, einfache und hygienische Bestellungen per Knopfdruck</h3>
                </div>
            </div>
            <div class="col-md-4 col-12 mobileCircle" data-aos="fade">
                <img class="centered" src="../../../assets/img/contactCircle2.png">
                <img class="centeredIcon" src="../../../assets/img/contactIcon9.png">
                <div class="col-10 offset-1">
                    <h3 style="margin-top: 70px;">Alle Transaktionen digital ersichtlich und jederzeit einsehbar</h3>
                </div>
            </div>
            <div class="col-md-4 col-12 mobileCircle" data-aos="fade">
                <img class="centered" src="../../../assets/img/contactCircle3.png">
                <img class="centeredIcon" src="../../../assets/img/contactIcon10.png">
                <div class="col-10 offset-1">
                    <h3 style="margin-top: 70px;">Mehr Umsatz durch zufriedene Kunden ohne Provisionen zahlen zu müssen</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="userBlock">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Was unsere Kunden <br>sagen</h1>
            </div>
            <div class="col-12">
                <h2>Erfahrungsberichte von Betreibern</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 70px;">
            <div class="userCard mobileUser" style="float:left;" data-aos="zoom-in">
                <img class="centered" src="../../../assets/img/contactUser.png">
                <h4 style="text-align: center; margin-top: 25px;">Full name</h4>
                <h3 style="color: #5C5C5C;">The most comprehensive <br>NLP-driven company search engine</h3>
            </div>
            <div class="userCard userCardFinal mobileUser" style="float: left;" data-aos="zoom-in">
                <img class="centered" src="../../../assets/img/contactUser.png">
                <h4 style="text-align: center; margin-top: 25px;">Full name</h4>
                <h3 style="color: #5C5C5C;">The most comprehensive <br>NLP-driven company search engine</h3>
            </div>
            <div class="userCard userCardFinal mobileUser" data-aos="zoom-in">
                <img class="centered" src="../../../assets/img/contactUser.png">
                <h4 style="text-align: center; margin-top: 25px;">Full name</h4>
                <h3 style="color: #5C5C5C;">The most comprehensive <br>NLP-driven company search engine</h3>
            </div>
        </div>
    </div>
</section>

<section id="contactForm" class="emailBlock" style="background-color:#FAFBFF;">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-md-6" style="margin-top: 60px;">
                <h1 style="text-align: left;">Kontaktiere uns für mehr Informationen</h1>
                <h2 style="text-align: left;">und werde Teil von Gostro</h2>
            </div>
            <div class="col-md-6" style="margin-top: 90px;">
                <form  [formGroup]="registerForm" (ngSubmit)="sendEmail()">
                    <input type="text" formControlName="contName" class="formStyle" placeholder="Restaurant name" [ngClass]="{ 'is-invalid': submitted && f.contName.errors }">
                    <div *ngIf="submitted && f.contName.errors" class="invalid-feedback">
                        <div *ngIf="f.contName.errors.required">Restaurant name ist erforderlich</div>
                    </div>
                    <input type="text" formControlName="contAddress" class="formStyle" style="margin-top: 30px;" placeholder="Restaurant Adresse (optional)">
                    <input type="text" formControlName="contPhone" class="formStyle" style="margin-top: 30px;" placeholder="Rufnummer" [ngClass]="{ 'is-invalid': submitted && f.contPhone.errors }">
                    <div *ngIf="submitted && f.contPhone.errors" class="invalid-feedback">
                        <div *ngIf="f.contPhone.errors.required">Rufnummer ist erforderlich</div>
                    </div>
                    <input type="email" formControlName="contEmail" class="formStyle" style="margin-top: 30px;" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.contEmail.errors }">
                    <div *ngIf="submitted && f.contEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.contEmail.errors.required">Email ist erforderlich</div>
                    </div>
                    <select class="formStyle" formControlName="contPackage" style="margin-top: 30px;" [ngClass]="{ 'is-invalid': submitted && f.contPackage.errors }">
                        <option value="">Wähle Dein Paket</option>
                        <option value="App Zugang">App Zugang</option>
                        <option value="Professioneller Zugang">Professioneller Zugang</option>
                        <option value="Website Zugang">Website Zugang</option>
                    </select>
                    <div *ngIf="submitted && f.contPackage.errors" class="invalid-feedback">
                        <div *ngIf="f.contPackage.errors.required">Paket ist erforderlich</div>
                    </div>
                    <textarea class="formStyle" formControlName="contMessage" rows="3" cols="8" style="margin-top: 30px;" placeholder="Nachricht" [ngClass]="{ 'is-invalid': submitted && f.contMessage.errors }"></textarea>
                    <div *ngIf="submitted && f.contMessage.errors" class="invalid-feedback">
                        <div *ngIf="f.contMessage.errors.required">Nachricht ist erforderlich</div>
                    </div>
                    <input type="checkbox" formControlName="contChecker" style="margin-top: 30px; float:left;" [ngClass]="{ 'is-invalid': submitted && f.contChecker.errors }" required><p style="margin-top: 27px; margin-left: 30px;">Ich habe die <a style="cursor: pointer; font-weight: 600; color: black;" href="/privacy">Datenschutzerklärung</a> gelesen und willige ein, dass meine Daten gespeichert werden.</p>
                    <div *ngIf="submitted && f.contChecker.errors" class="invalid-feedback">
                        <div *ngIf="f.contChecker.errors.required">Datenschutz ist erforderlich</div>
                    </div>
                    <button class="btn contactButton mobileButton" style="margin-top: 50px;">Senden</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="bottomBar" class="footer deskFooter" style="margin-top: 180px;">
    <div class="container">
        <div class="row" data-aos="zoom-in">
            <div class="col-sm-12 col-md-3" style="margin-top: 100px;">
                <h2 style="text-align: left;">Dienstleistungen</h2>
                <p>Bestellen Sie Essen zum Mitnehmen</p>
                <p>Bestellen Sie Essen für im Haus</p>
                <p>Essen Lieferung</p>
                <p>Tisch reservieren</p>
                <div class="social-media" style="margin-top: 53px;">
                  <fa-icon style="background-color: #ebfaff; border-radius: 50%; padding: 10px 15px 10px 15px;" [icon]="faFacebook"></fa-icon>
                  <fa-icon style="background-color: #ebfaff; border-radius: 50%; padding: 10px 15px 10px 15px;" [icon]="faLinkedin"></fa-icon>
                  <a style="color: black;" href="https://www.instagram.com/gastro2go/"><fa-icon style="background-color: #ebfaff; border-radius: 50%; padding: 10px 15px 10px 15px;" [icon]="faInstagram"></fa-icon></a>
                </div>
                <button class="btn android" style="padding-left: 30px; padding-right: 30px;">
                  <fa-icon style="font-size: 45px;" [icon]="faAndroid"></fa-icon>
                    <div class="android-text">
                        <div class="aText1">Download</div>
                        <div class="aText2">Android App</div>
                    </div>
                </button>
            </div>
            <div class="col-sm-12 col-md-3" style="margin-top: 100px;">
                <h2 style="text-align: left;">Über</h2>
                    <a style="text-decoration: none; color: black;" href="/privacy"><p>Datenschutz-Bestimmungen</p></a>
                    <a style="text-decoration: none; color: black;" href="/contact"><p>Kontaktiere uns</p></a>
                    <h2 style="margin-top: 119px; text-align: left;">ENG (US)</h2>
                    <button class="btn ios2">
                      <fa-icon style="font-size: 45px; margin-right: 5px;" [icon]="faApple"></fa-icon>
                        <div class="android-text">
                            <div class="aText1">Download</div>
                            <div class="aText2">iOS App</div>
                        </div>
                    </button>            
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="iphone3-block">
                    <img src="../../../assets/img/Footer Img@2x.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="supporter">
    <button data-toggle="modal" data-target="#supportModal" type="button" class="btn support"><i class="fa fa-question-circle" style="font-size: 20px;"></i> Support</button>
</section>

<footer>
    <div class="container">
       <span style="margin-right: 10px;">&copy;</span> <img src="../../../assets/img/GostroMob.png">  <span style="margin-left: 10px;">All Rights Reserved.</span> 
    </div>
</footer>
<hr style="margin-top: 50px;">

</body>