<div *ngIf="NotVerified == true">
<body>
<nav class="navbar navbar-expand-md">
    <div class="container">
      <a class="navbar-brand deskLogo" href="/"><img src="../../../assets/img/Gostro.png"></a>
      <a class="navbar-brand mobLogo" href="/"><img height="22" width="96" src="../../../assets/img/Gostro.png"></a>
  <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>      
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav justify-content-end ml-auto">
    </ul>
</div>
</div>
</nav>
<header>
    <div class="container">
        <h2>Vielen Dank für die Überprüfung Ihrer E-Mail-Adresse! Jetzt können Sie sich in Ihr Konto einloggen.</h2>
    </div>
</header>
</body>
</div>