@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.spinner-border{ 
    z-index: 1; 
    width: 60px; 
    height: 60px; 
    margin-top: 10px;
    margin-left: 140px;
    border: 10px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 10px solid #eb3c2e; 
    animation: spin 2s linear infinite; 
    display: none;
    } 
      
    @keyframes spin { 
      0% { transform: rotate(0deg); } 
      100% { transform: rotate(360deg); } 
    }

    
.spinner-border2{ 
    z-index: 1; 
    width: 60px; 
    height: 60px; 
    margin-top: 20px;
    margin-left: 90px;
    border: 10px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 10px solid #eb3c2e; 
    animation: spin 2s linear infinite; 
    display: none;
    } 
      
    @keyframes spin { 
      0% { transform: rotate(0deg); } 
      100% { transform: rotate(360deg); } 
    }

.spinner-border3{ 
    z-index: 1; 
    width: 90px; 
    height: 90px; 
    margin-top: 40px;
    margin-left: 120px;
    margin-bottom: 60px;
    border: 13px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 13px solid #eb3c2e; 
    animation: spin 2s linear infinite; 
    } 
      
    @keyframes spin { 
      0% { transform: rotate(0deg); } 
      100% { transform: rotate(360deg); } 
    }

    .spinner-border4{ 
        z-index: 1; 
        margin-top: 30px;
        margin-left: 145px;
        margin-bottom: 20px;
        border: 16px solid #f3f3f3; 
        border-radius: 50%; 
        border-top: 16px solid #eb3c2e; 
        width: 100px; 
        height: 100px; 
        animation: spin 2s linear infinite; 
        } 
          
        @keyframes spin { 
          0% { transform: rotate(0deg); } 
          100% { transform: rotate(360deg); } 
        }


.navbar-brand {
    padding-top: 30px;
}

.nav-link {
    color: black;
    padding-top: 45px;
    margin-right: 40px;
    font-weight: bold;
    margin-bottom: 11px;
}

.loginBtn { 
    margin-top: 33px;
    margin-bottom: 10px;
    padding: 12px 15px 12px 15px; 
    border-radius: 5px;
    background: #FF4040;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.nav-link:hover {
    color: red;
}

.loginBtn:hover {
    color: white;
    background-color: #d43737;
}

h1 {
    font-size: 45px;
    color: white;
    font-family: 'Inter', sans-serif;
}

h3 {
	font-weight: bold;
    color:black;
    font-family: 'FontAwesome', 'Inter';
}

h2 {
    font-size: 24px;
    font-weight: 500;
    color:black;
    font-family: 'Inter', sans-serif;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    color:black;
    font-family: 'Inter', sans-serif;
}

.termC {
    font-size: 15px;
}


#orderTime {
    display: none;
}

#noOrderTime {
    display: none;
}

#contentOverview {
    display: none;
}

.btnReserve {
    background-color: #FF4040;
    color: white;
    padding: 12px 20px 12px 20px;
    font-size: 14px;   
    margin-right: 10px;
    margin-top: 8px;
    border-radius: 8px;
    margin-left: 15px;
}

.btnReserve:hover {
    background-color: white;
    color: #FF4040;
    border: 1px solid #FF4040;
}

.btnNext {
    background-color: white;
    color: #FF4040;
    border: 1px solid #FF4040;
    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    font-size: 14px;   
    cursor: default;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 8px;
}

.locAcusin {
    margin-top: -5px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.booker {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}

.webLoc {
    margin-top: 37px;
    margin-left: 45px;
}

.carousel-nav-icon {
    height: 48px;
    width: 48px;
 }
 .carousel-item .col, .col-sm, .col-md {
       margin: 8px;
       height: 300px;
       background-size: cover;
       background-position: center center;
}

.cateCard {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow;
    cursor: pointer;
}

.cateCard:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    cursor: pointer;
}

.firstCategoryBox {
    padding: 10px;
    border: 2px solid #da3743; 
    text-align: center; 
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.categoryBox {
    padding: 10px;
    border: 2px solid rgb(214, 214, 214); 
    text-align: center; 
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.fullMenuBox {
    margin-top: 30px;
    padding: 20px;
    border: 2px solid rgb(214, 214, 214); 
    text-align: center; 
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.fullMenuBox:hover {
    border: 2px solid #da3743; 
}

.slash {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.deskJumb {
    background-size: cover;
    background-position: center;
    padding: 220px;
}

.jumbotron h5{
    font-size: 16px;
    color:white;
    float: left; 
    font-weight: 400;
    margin-right: 38px;
    font-family: 'Inter', sans-serif;
   }

h5 {
    font-family: 'Inter', sans-serif;
}

.overBox #activeOver {
    line-height: 21.78px;
    font-weight: 700;
    border-bottom: 2px solid #FFFFFF;
}

#activeGall {
    line-height: 21.78px;
}

#activeMenu {
    line-height: 21.78px;
}

#activeRat {
    line-height: 21.78px;
}

.overBox {
    position: absolute;
    top: 498px;
    left: 58px;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
    background: rgba(212, 212, 212, 0.3);
    backdrop-filter: blur(4px);
}

.starBox {
    position: absolute;
    top: 128px;
    left: 70px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(143, 143, 143, 0.3);
    backdrop-filter: blur(5px);
}

.userBox {
    margin-top: 15px;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
}

.sticky2 {
    position: fixed;
    top: 214px;
    z-index: 1;
    left: 546px;
    width: 380px;
}

#theResBox {
    margin-top: -215px;
}

.overHead {
    margin-left: 25px; 
    line-height: 3px; 
    margin-top: 12px; 
    font-weight: 400;
}

.overDet {
    margin-left: 25px; 
    color: black; 
    font-weight: 500;
}

.overBtw {
    margin-left: 0px;
}

.overEnd {
    margin-left: -50px;
}

.overStart {
    margin-left: -70px;
}

.overGal {
    margin-top: 60px;
}

.overMenu {
    margin-top: 40px;
}

.overRating {
    margin-top: 50px;
}

.overOpt {
    margin-top: 15px;
}

.overOpt h6 {
    font-size: 14px;
    color: black;
    font-family: 'FontAwesome', 'Inter';
}

h6 {
    font-family: 'Inter', sans-serif;
}

.overHeading {
    margin-top: 50px;
    margin-bottom: 100px;
}

.photoGallery {
    margin-top: 30px;
}

.pic2S {
    margin-top: 10px;
}

.picBTW {
    margin-top: -150px;
}

.card-title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer {
    margin-top: 200px;
}

.android {
    margin-top: 88px;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    background-color: #eb3c2e;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.16);
}

.android-text {
    margin-top: 10px;
    float: right; 
    margin-left: 10px;
    line-height: 20px;
}

.aText1 {
    text-align: left;
    font-weight: normal;
    font-size: 15px;
}

.aText2 {
    font-weight: bold;
    font-size: 20px;
}

.android:hover {
    background-color: #8b0000;
    color: white;
}

.ios2:hover {
    background-color:#4B4B4B;
    color: white;
}

.ios2 {
    margin-left: -10px;
    margin-top: 64px;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.16);
}

.arrows {
    margin-left: 500px; 
    margin-bottom: 100px;
    position: relative;
    bottom: -125px;
    right: 510px;
    z-index: 1;
    font-size: 40px; 
    color:black;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 22px;
    border: 1px solid #c7c7c7;
    border-radius: 30px;
    background-color: white;
}

.arrows2 {
    position: relative;
    bottom: -125px;
    right: -522px;
    z-index: 1;
    font-size: 40px; 
    color:black;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 22px;
    border: 1px solid #c7c7c7;
    border-radius: 30px;
    background-color: white;
}

.arrows:hover, .arrows2:hover {
    background-color: #f5f5f5;
}
  
.dashbutton {
    position: absolute;
    top: 384px;
    left: 1173px;
    text-decoration: none;
    color: white;
    background-color: #FF4040;
    border-radius: 30px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-top: 17px;
    margin-bottom: 20px;
    margin-left: -80px;
    font-size: 15px;
}

.dashbutton:hover {
    background-color: #d43737;
}

select  {
    font-family: 'FontAwesome', 'Inter';
}

.reserve {
    margin-left: 300px;
    padding-left: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    cursor: pointer;
    border: 1px solid white;
}
  
  .autocomplete-container {
    padding: 1rem 0 1rem 0;
    width: 50%;
  }


.reserve2 {
    margin-left: -52px;
    padding-left: 45px;
    padding-right: 40px;
    border-left: 2px solid #dbdbdb;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
}

.reserve3 {
    margin-left: -29px;
    padding-left: 45px;
    padding-right: 40px;
    border-left: 2px solid #dbdbdb;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
}

.caln {
    font-family: 'FontAwesome', 'Inter';
    position: relative;
    left: 90px;
    top: 19px;
}

.timen {
    font-family: 'FontAwesome', 'Inter';
    position: relative;
    right: 5px;
    top: 19px;
}

.peoplen {
    font-family: 'FontAwesome', 'Inter';
    position: relative;
    left: 18px;
    top: 19px;
}

.locn {
    font-family: 'FontAwesome', 'Inter';
    position: relative;
    left: 0px;
    bottom: 1px;
}

.calarrow {
    font-family: 'FontAwesome', 'Inter';
    position: relative;
    right: 35px;
    top: 17px;
    font-size: 20px;
}

.searcher {
    margin-left: -1px;
    padding-left: 20px;
    padding-right: 110px;
    border-left: 2px solid #dbdbdb;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    font-family: 'FontAwesome', 'Inter';
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.centered {
    position: relative;
    left: 545px;
    color: white;
    font-size: 18px;
    bottom: 85px;
    cursor: pointer;
    font-weight: 500;
  }

  .locBox {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.locBox:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    cursor: pointer;
}

.restList {
    margin-top: 70px;
}

.deliList {
    margin-top: 60px;
}

.bookList {
    margin-top: 60px;
}


.restList2 {
    margin-top: 60px;
}

.restList3 {
    margin-top: 60px;
}


.euroP {
    font-size: 15px;
}

.mobLogo {
    display: none;
}

.flex-container {
    box-sizing: border-box;
    display: flex;
}

.flex-item-left {
    background-color: white;
    padding: 20px;
    flex: 50%;
    margin-right: 20px;
    border-radius: 5px;
    transition: box-shadow .3s;
}

.flex-item-right {
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    flex: 30%;
    border-radius: 5px;
    transition: box-shadow .3s;
  }

  .registerTitle {
    margin-left: 105px; 
    margin-top: 30px; 
    color: #FF4040; 
    font-size: 26px; 
    font-weight: 600;
}

.loginTitle {
    margin-left: 150px; 
    margin-top: 30px; 
    color: #FF4040; 
    font-size: 26px; 
    font-weight: 600;
}

.mobOverviewHeader {
    display: none;
}

.mobOverReserve {
    display: none;
}

.mobOverGall {
    display: none;
}

.mobOverMenu {
    display: none;
}


.mobOverRating {
    display: none;
}


.mobOverCategory {
    display: none;
}

.hoursTitle {
    margin-left: 130px; 
    margin-top: 20px; 
    color: #FF4040;
}

.hoursModal {
    font-size: 18px; 
    font-weight: 600;
}

.hoursModal2 {
    font-size: 15px; 
    font-weight: 400;
}

    @media (max-width: 1700px) {
        .reserve {
            margin-left: 30px;
        }
    }

    @media (min-width: 1700px) {
        .caln {
            left: 340px;
            top: 19px;
        }
        .dashbutton {
            position: absolute;
            top: 384px;
            left: 1423px;
        }
        .reserve {
            margin-left: 280px;
        }
        .sticky2 {
            position: fixed;
            top: 214px;
            z-index: 1;
            left: 666px;
            width: 380px;
        }
    }
    
    @media (max-width: 1400px) {
        .caln {
            left: 45px;
            top: 19px;
        }
        .dashbutton {
            position: absolute;
            top: 384px;
            left: 1117px;
        }
        .reserve {
            margin-left: -10px;
        }
        .reserve2 {
            margin-right: 8px;
        }
    }
      
      @media only screen and (max-width: 400px) {
        .navbar-brand {
            padding-top: 10px;
        }

        .deskLogo {
            display: none;
        }
    
        .mobLogo {
            display: block;
        }
    
        .navbar-toggler-icon {
            margin-top: 5px;
            font-size: 14px;
        }
    
        .webLoc {
            font-size: 11px;
            margin-top: 20px;
            margin-left: -30px;
        }
    
        label {
            font-size: 15px;
        }
        
        .termC {
            font-size: 13px;
        }
  

        .scrolling-wrapper {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }
            
        .deskOverviewHeader {
            display: none;
        }

        .mobOverviewHeader {
            display: block;
        }

        .deskOverReserve {
            display: none;
        }

        .mobOverReserve {
            display: block;
        }

        .deskOverGall {
            display: none;
        }
        
        .mobOverGall {
            display: block;
        }

        .deskOverMenu {
            display: none;
        }

        .mobOverMenu {
            display: block;
        }

        .deskOverRating {
            display: none;
        }

        .mobOverRating {
            display: block;
        }

        .deskOverCategory {
            display: none;
        }

        .mobOverCategory {
            display: block;
        }
    
        .mobJumb {
            background-repeat: no-repeat;
            background-size: cover;
            padding-left: 50px;
            padding-bottom: 140px;
        }

        .starBox {
            position: relative;
            top: -32px;
            left: -50px;
            padding-left: 20px;
            padding-right: 0px;
            padding-top: 5px;
            padding-bottom: 5px;
            background: rgba(143, 143, 143, 0.3);
            backdrop-filter: blur(5px);
        }

        .overBoxMob {
            position: relative;
            top: 140px;
            left: -50px;
            padding: 25px;
            width: 121.5%;
            background: rgba(212, 212, 212, 0.3);
            backdrop-filter: blur(4px);
        }

        .sticky {
            position: fixed;
            top: 0px;
            left: 0px;
            padding-bottom: 0px;
            z-index: 1;
        }

        .overBoxMob #activeOverMob {
            line-height: 22px;
            font-weight: 700;
            border-bottom: 2px solid #FFFFFF;
        }
        
        #activeGallMob {
            line-height: 22px;
        }
        
        #activeMenuMob {
            line-height: 22px;
        }
        
        #activeRatMob {
            line-height: 22px;
        }

        .jumbotron h5{
            font-size: 14px;
            color:white;
            float: left; 
            margin-top: -12px;
            font-weight: 400;
            margin-right: 15px;
            font-family: 'Inter', sans-serif;
        }

        h4 {
            font-size: 22px;
            font-weight: 500;
            color:black;
            font-family: 'Inter', sans-serif;
        }
        

        .overOpt h6 {
            color: #a0a0a0;
            font-size: 11px;
        }

        .overOpt {
            margin-left: 0px;
            margin-top: -5px;
        }

        .overDet {
            margin-left: 20px;
        }

        .overHeading {
            margin-top: 20px;
        }

        .overRating {
            margin-top: 30px;
        }

        .overGal {
            margin-top: 40px;
        }

        .firstCategoryBoxMob {
            padding: 12px;
            border: 2px solid #da3743; 
            text-align: center; 
            font-size: 11px;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
        }
        
        .categoryBoxMob {
            padding: 12px;
            border: 2px solid rgb(214, 214, 214); 
            text-align: center; 
            font-size: 11px;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
        }

        .fullMenuBox {
            margin-top: 20px;
            padding: 10px;
            border: 2px solid rgb(214, 214, 214); 
            text-align: center; 
            font-size: 12px;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
        }

        .fullMenuBox:hover {
            border: 2px solid #da3743; 
        }

        .loginBtn { 
            padding: 15px;
            width: 100%;
            border-radius: 5px;
            background: #FF4040;
            border-radius: 8px;
            color: white;
            text-align: center;
            font-size: 14px;
        }

        .registerTitle {
            color: #FF4040; 
            font-size: 24px;
            text-align: center;
            line-height: 30px;
            margin-left: 50px; 
            margin-top: 20px;
        }
    
        .loginTitle {
            color: #FF4040; 
            font-size: 24px;
            text-align: center;
            line-height: 30px;
            margin-left: 90px; 
            margin-top: 20px;
        }

        .reserveTitle {
            margin-left: 20px; 
            margin-top: 20px; 
            text-align: center;
            color: #FF4040; 
            font-size: 24px; 
            font-weight: 600;
        }
    
        .hoursTitle {
            margin-left: 70px; 
            margin-top: 20px; 
            color: #FF4040;
        }

        .hoursModal {
            text-align: center;
            font-size: 12px;
        }

        .hoursModal2 {
            text-align: center;
            font-size: 12px;
        }

        .btnReserve {
            background-color: #FF4040;
            color: white;
            padding: 12px 15px 12px 15px;
            font-size: 14px;   
            margin-right: 10px;
            margin-top: 8px;
            border-radius: 8px;
            margin-left: 0px;
        }
        
        .btnNext {
            background-color: white;
            color: #FF4040;
            border: 1px solid #FF4040;
            border-radius: 8px;
            padding: 12px 20px 12px 20px;
            font-size: 14px;   
            cursor: default;
            margin-left: 10px;
            margin-right: 0px;
            margin-top: 8px;
        }

        #orderTimeMob {
            display: none;
        }
        
        #noOrderTimeMob {
            display: none;
        }
    }

    @media only screen and (max-width: 600px) and (min-width: 400px) {
        .navbar-brand {
            padding-top: 10px;
        }

        .deskLogo {
            display: none;
        }
    
        .mobLogo {
            display: block;
        }
    
        .navbar-toggler-icon {
            margin-top: 5px;
            font-size: 14px;
        }
    
        .webLoc {
            font-size: 12px;
            margin-top: 20px;
            margin-left: -70px;
        }
    
        label {
            font-size: 15px;
        }

        .termC {
            font-size: 13px;
        }
  

        .scrolling-wrapper {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }
            
        .deskOverviewHeader {
            display: none;
        }

        .mobOverviewHeader {
            display: block;
        }

        .deskOverReserve {
            display: none;
        }

        .mobOverReserve {
            display: block;
        }

        .deskOverGall {
            display: none;
        }
        
        .mobOverGall {
            display: block;
        }

        .deskOverMenu {
            display: none;
        }

        .mobOverMenu {
            display: block;
        }

        .deskOverRating {
            display: none;
        }

        .mobOverRating {
            display: block;
        }

        .deskOverCategory {
            display: none;
        }

        .mobOverCategory {
            display: block;
        }
    
        .mobJumb {
            background-repeat: no-repeat;
            background-size: cover;
            padding-left: 50px;
            padding-bottom: 140px;
        }

        .starBox {
            position: relative;
            top: -32px;
            left: -50px;
            padding-left: 20px;
            padding-right: 0px;
            padding-top: 5px;
            padding-bottom: 5px;
            background: rgba(143, 143, 143, 0.3);
            backdrop-filter: blur(5px);
        }

        .overBoxMob {
            position: relative;
            top: 140px;
            left: -50px;
            padding: 25px;
            width: 119%;
            background: rgba(212, 212, 212, 0.3);
            backdrop-filter: blur(4px);
        }

        .sticky {
            position: fixed;
            top: 0px;
            left: 0px;
            padding-bottom: 0px;
            z-index: 1;
        }

        .overBoxMob #activeOverMob {
            line-height: 22px;
            font-weight: 700;
            border-bottom: 2px solid #FFFFFF;
        }
        
        #activeGallMob {
            line-height: 22px;
        }
        
        #activeMenuMob {
            line-height: 22px;
        }
        
        #activeRatMob {
            line-height: 22px;
        }

        .jumbotron h5{
            font-size: 14px;
            color:white;
            float: left; 
            margin-top: -12px;
            font-weight: 400;
            margin-right: 25px;
            font-family: 'Inter', sans-serif;
        }

        h4 {
            font-size: 22px;
            font-weight: 500;
            color:black;
            font-family: 'Inter', sans-serif;
        }
        

        .overOpt h6 {
            color: #a0a0a0;
            font-size: 13px;
        }

        .overOpt {
            margin-left: 0px;
            margin-top: -5px;
        }

        .overDet {
            margin-left: 20px;
        }

        .overHeading {
            margin-top: 20px;
        }

        .overRating {
            margin-top: 30px;
        }

        .overGal {
            margin-top: 40px;
        }

        .firstCategoryBoxMob {
            padding: 12px;
            border: 2px solid #da3743; 
            text-align: center; 
            font-size: 13px;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
        }
        
        .categoryBoxMob {
            padding: 12px;
            border: 2px solid rgb(214, 214, 214); 
            text-align: center; 
            font-size: 13px;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
        }

        .fullMenuBox {
            margin-top: 20px;
            padding: 10px;
            border: 2px solid rgb(214, 214, 214); 
            text-align: center; 
            font-size: 14px;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
        }

        .fullMenuBox:hover {
            border: 2px solid #da3743; 
        }

        .loginBtn { 
            padding: 15px;
            width: 100%;
            border-radius: 5px;
            background: #FF4040;
            border-radius: 8px;
            color: white;
            text-align: center;
            font-size: 14px;
        }
    
        .hoursTitle {
            margin-left: 70px; 
            margin-top: 20px; 
            color: #FF4040;
        }

        .hoursModal {
            text-align: center;
            font-size: 13px;
        }

        .hoursModal2 {
            text-align: center;
            font-size: 13px;
        }

        .btnReserve {
            background-color: #FF4040;
            color: white;
            padding: 12px 15px 12px 15px;
            font-size: 14px;   
            margin-right: 10px;
            margin-top: 8px;
            border-radius: 8px;
            margin-left: 0px;
        }
        
        .btnNext {
            background-color: white;
            color: #FF4040;
            border: 1px solid #FF4040;
            border-radius: 8px;
            padding: 12px 20px 12px 20px;
            font-size: 14px;   
            cursor: default;
            margin-left: 30px;
            margin-right: 0px;
            margin-top: 8px;
        }

        #orderTimeMob {
            display: none;
        }
        
        #noOrderTimeMob {
            display: none;
        }
    
        .registerTitle {
            color: #FF4040; 
            font-size: 24px;
            text-align: center;
            line-height: 30px;
            margin-left: 70px; 
            margin-top: 20px;
        }
    
        .loginTitle {
            color: #FF4040; 
            font-size: 24px;
            text-align: center;
            line-height: 30px;
            margin-left: 110px; 
            margin-top: 20px;
        }

        .reserveTitle {
            margin-left: 30px; 
            margin-top: 20px; 
            text-align: center;
            color: #FF4040; 
            font-size: 24px; 
            font-weight: 600;
        }

        .spinner-border2{ 
            z-index: 1; 
            width: 60px; 
            height: 60px; 
            margin-top: 20px;
            margin-left: 110px;
            border: 10px solid #f3f3f3; 
            border-radius: 50%; 
            border-top: 10px solid #eb3c2e; 
            animation: spin 2s linear infinite; 
            display: none;
        } 
    }